@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="range"]::-webkit-slider-thumb {
  pointer-events: auto;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  -webkit-appearance: none;
  @apply bg-[#4c5a67];
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-end-rgb: 6, 13, 23;
  --ion-background-color: #060d17;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--ion-background-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
